.carousel {
  position: relative;
  width: 700px; /* xleh guna percentage nanti nk zoom out x comel pula */
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media screen and (max-width: 600px) {
  .carousel {
  width: 400px; /* xleh guna percentage nanti nk zoom out x comel pula */
}
}